.about {
  background-color: #ededed;
}
.about .container {
  background-color: #ffffff;
  transform: translateY(-50px);
  border-radius: 8px 8px 0 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about .container {
    min-width: 95%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container {
    transform: translateY(-30px);
  }
}
.about .container .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 26px 42px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .items {
    padding: 28px 9px;
  }
}
.about .container .items .item {
  text-align: center;
}
.about .container .items .item img {
  margin-bottom: 26px;
  max-height: 70px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .items .item img {
    max-height: 40px;
    margin-bottom: 18px;
  }
}
.about .container .items .item p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about .container .items .item p {
    font-size: 14px;
    line-height: 1.43;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .items .item p {
    font-size: 10px;
    line-height: normal;
  }
}
.about .container .onboarding {
  display: grid;
  grid-template-columns: 320px 1fr;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .onboarding {
    grid-template-columns: 1fr;
  }
}
.about .container .onboarding .image {
  background: url("../assets/about/about.jpg");
  background-size: cover;
  background-position: center center;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .onboarding .image {
    min-height: 175px;
    background: url("../assets/about/about-mobile.jpg");
    background-size: contain;
  }
}
.about .container .onboarding .text {
  background: linear-gradient(0deg, rgba(78, 91, 119, 0.92), rgba(78, 91, 119, 0.92)), url("../assets/backgrounds/about.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  padding: 40px 40px 81px 40px;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about .container .onboarding .text {
    padding: 40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .onboarding .text {
    padding: 41px 26px;
  }
}
.about .container .onboarding .text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about .container .onboarding .text h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .onboarding .text h2 {
    font-size: 24px;
  }
}
.about .container .onboarding .text p {
  font-size: 24px;
  line-height: 1.42;
  margin: 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about .container .onboarding .text p {
    font-size: 20px;
    line-height: 1.4;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .onboarding .text p {
    font-size: 18px;
    line-height: 1.33;
  }
}/*# sourceMappingURL=about.css.map */