@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.logo-bar {
  display: none;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.logo-bar img {
  width: auto;
  height: 24px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .logo-bar {
    display: flex;
  }
}

.top-bar {
  background-color: #2d6bb2;
  color: #ffffff;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .top-bar .container {
    min-width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .top-bar .container {
    min-width: 100%;
  }
}
.top-bar .container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top-bar .container .row .menu {
  display: none;
  align-items: center;
  margin-left: 5%;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .top-bar .container .row .menu {
    display: flex;
  }
}
.top-bar .container .row .menu a {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.top-bar .container .row .links {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .top-bar .container .row .links {
    margin-left: 5%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .top-bar .container .row .links {
    display: none;
  }
}
.top-bar .container .row .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-bar .container .row .links ul li {
  display: inline;
}
.top-bar .container .row .links ul li a {
  font-size: 14px;
  color: #d3efff;
  margin-right: 40px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .top-bar .container .row .button {
    display: none;
  }
}
.top-bar .container .row .button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 60px;
  background-color: #60beb3;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.top-bar .container .row .button-mobile {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .top-bar .container .row .button-mobile {
    display: block;
  }
}
.top-bar .container .row .button-mobile a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 60px;
  background-color: #60beb3;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-bar {
  background-color: #ffffff;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .nav-bar {
    display: none;
  }
}
.nav-bar .row {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
.nav-bar .row img {
  margin-right: 70px;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .nav-bar .row img {
    margin-right: 35px;
  }
}
.nav-bar .row ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-bar .row ul li {
  display: inline-block;
}
.nav-bar .row ul li a {
  color: #2d6bb2;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 36px;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .nav-bar .row ul li a {
    margin-right: 30px;
  }
}

.mid-bar {
  background-color: #f59b19;
  color: #ffffff;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .mid-bar {
    display: none;
  }
}
.mid-bar .row {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mid-bar .row p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero {
  background: url("../assets/backgrounds/hero.jpg"), linear-gradient(to left, rgba(0, 0, 0, 0) 94%, rgba(4, 15, 32, 0.56));
  background-size: cover;
  background-position: center center;
  padding: 72px 0 101px 0;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .hero {
    padding: 53px 0 56px 0;
  }
}
.hero .row {
  text-align: center;
}
.hero .row img {
  margin-bottom: 109px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .hero .row img {
    display: none;
  }
}
.hero .row h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 1.78px;
  color: #ffffff;
  margin: 0 0 14px 0;
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .hero .row h1 {
    font-size: 20px;
    letter-spacing: 0.56px;
    margin-bottom: 6px;
  }
}
.hero .row h2 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.78px;
  color: #ffffff;
  margin: 0 0 38px 0;
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .hero .row h2 {
    width: 194px;
    font-size: 14px;
    letter-spacing: 0.39px;
    margin: 0 auto 16px auto;
  }
}
.hero .row a {
  display: inline-block;
  border-radius: 4px;
  background-color: #60beb3;
  color: #ffffff;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.about {
  background-color: #ededed;
}
.about .container {
  background-color: #ffffff;
  transform: translateY(-50px);
  border-radius: 8px 8px 0 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about .container {
    min-width: 95%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container {
    transform: translateY(-30px);
  }
}
.about .container .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 26px 42px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .items {
    padding: 28px 9px;
  }
}
.about .container .items .item {
  text-align: center;
}
.about .container .items .item img {
  margin-bottom: 26px;
  max-height: 70px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .items .item img {
    max-height: 40px;
    margin-bottom: 18px;
  }
}
.about .container .items .item p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about .container .items .item p {
    font-size: 14px;
    line-height: 1.43;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .items .item p {
    font-size: 10px;
    line-height: normal;
  }
}
.about .container .onboarding {
  display: grid;
  grid-template-columns: 320px 1fr;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .onboarding {
    grid-template-columns: 1fr;
  }
}
.about .container .onboarding .image {
  background: url("../assets/about/about.jpg");
  background-size: cover;
  background-position: center center;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .onboarding .image {
    min-height: 175px;
    background: url("../assets/about/about-mobile.jpg");
    background-size: contain;
  }
}
.about .container .onboarding .text {
  background: linear-gradient(0deg, rgba(78, 91, 119, 0.92), rgba(78, 91, 119, 0.92)), url("../assets/backgrounds/about.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  padding: 40px 40px 81px 40px;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about .container .onboarding .text {
    padding: 40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .onboarding .text {
    padding: 41px 26px;
  }
}
.about .container .onboarding .text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about .container .onboarding .text h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .onboarding .text h2 {
    font-size: 24px;
  }
}
.about .container .onboarding .text p {
  font-size: 24px;
  line-height: 1.42;
  margin: 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about .container .onboarding .text p {
    font-size: 20px;
    line-height: 1.4;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about .container .onboarding .text p {
    font-size: 18px;
    line-height: 1.33;
  }
}

.careers {
  padding: 40px 0 60px 0;
}
.careers h2 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #1b2856;
  margin: 0 0 48px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .careers h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .careers h2 {
    width: 176px;
    font-size: 24px;
    margin: 0 0 37px 0;
  }
}
.careers .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .careers .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .careers .cards {
    grid-template-columns: 1fr;
  }
}
.careers .cards .card {
  max-width: 395px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.28);
}
.careers .cards .card .header {
  padding: 138px 10px 10px 10px;
  border-radius: 4px 4px 0 0;
}
.careers .cards .card .header.administracion-de-empresas {
  background: linear-gradient(to bottom, rgba(7, 7, 76, 0.16) 34%, rgba(2, 0, 19, 0.93) 99%), url("../assets/careers/administracion-de-empresas.jpg");
  background-size: cover;
  background-position: top center;
}
.careers .cards .card .header.derecho {
  background: linear-gradient(to bottom, rgba(7, 7, 76, 0.16) 34%, rgba(2, 0, 19, 0.93) 99%), url("../assets/careers/derecho.jpg");
  background-size: cover;
  background-position: top center;
}
.careers .cards .card .header.pedagogia {
  background: linear-gradient(to bottom, rgba(7, 7, 76, 0.16) 34%, rgba(2, 0, 19, 0.93) 99%), url("../assets/careers/pedagogia.jpg");
  background-size: cover;
  background-position: top center;
}
.careers .cards .card .header.ingenieria-en-sistemas {
  background: linear-gradient(to bottom, rgba(7, 7, 76, 0.16) 34%, rgba(2, 0, 19, 0.93) 99%), url("../assets/careers/ingenieria-en-sistemas.jpg");
  background-size: cover;
  background-position: top center;
}
.careers .cards .card .header.comercio-internacional {
  background: linear-gradient(to bottom, rgba(7, 7, 76, 0.16) 34%, rgba(2, 0, 19, 0.93) 99%), url("../assets/careers/comercio-internacional.jpg");
  background-size: cover;
  background-position: top center;
}
.careers .cards .card .header.criminologia {
  background: linear-gradient(to bottom, rgba(7, 7, 76, 0.16) 34%, rgba(2, 0, 19, 0.93) 99%), url("../assets/careers/criminologia.jpg");
  background-size: cover;
  background-position: top center;
}
.careers .cards .card .header.psicologia-social {
  background: linear-gradient(to bottom, rgba(7, 7, 76, 0.16) 34%, rgba(2, 0, 19, 0.93) 99%), url("../assets/careers/psicologia-social.jpg");
  background-size: cover;
  background-position: top center;
}
.careers .cards .card .header.contaduria-publica {
  background: linear-gradient(to bottom, rgba(7, 7, 76, 0.16) 34%, rgba(2, 0, 19, 0.93) 99%), url("../assets/careers/contaduria-publica.jpg");
  background-size: cover;
  background-position: top center;
}
.careers .cards .card .header .row {
  display: flex;
  justify-content: space-between;
}
.careers .cards .card .header .row .code {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #ffffff;
}
.careers .cards .card .header .row .time {
  display: flex;
  align-items: center;
  background-color: #ff6a00;
  font-size: 9px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  padding: 1px 6px;
  border-radius: 1px;
}
.careers .cards .card .title {
  background-color: #2d6bb2;
  padding: 10px;
}
.careers .cards .card .title h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}
.careers .cards .card .body {
  padding: 10px 10px 35px 10px;
}
.careers .cards .card .body p {
  font-size: 14px;
  line-height: 1.36;
  color: #1d1d1d;
  margin: 0 0 10px 0;
}
.careers .cards .card .body .download {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-decoration: underline;
  color: #2c4fa0;
  margin: 0 0 26px 0;
}
.careers .cards .card .body .button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #60beb3;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.43;
  padding: 8px 36px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.in-person {
  background: linear-gradient(to left, rgba(23, 27, 51, 0.79), rgba(23, 27, 51, 0.79)), url("../assets/backgrounds/in-person.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  padding: 58px 0 66px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .in-person {
    padding: 45px 0 55px 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .in-person {
    background: linear-gradient(to left, rgba(23, 27, 51, 0.79), rgba(23, 27, 51, 0.79)), url("../assets/backgrounds/in-person-mobile.jpg");
    background-size: 100% auto;
    background-position: bottom center;
    padding: 26px 0 62px 0;
  }
}
.in-person h2 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 40px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .in-person h2 {
    font-size: 36px;
    letter-spacing: 0.75px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .in-person h2 {
    width: 216px;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 0 0 20px 0;
  }
}
.in-person p {
  font-size: 24px;
  line-height: 1.46;
  text-align: center;
  margin: 0 0 40px 0;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .in-person p {
    font-size: 18px;
    line-height: 1.33;
    margin: 0 0 30px 0;
  }
}
.in-person a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #60beb3;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  padding: 13px 62px;
  border-radius: 4px;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .in-person a {
    padding: 13px 42px;
  }
}

.deals {
  padding: 44px 0 6px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .deals {
    padding: 40px 0 10px 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .deals {
    padding: 60px 0 19px 0;
  }
}
.deals h2 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #1b2856;
  margin: 0 0 50px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .deals h2 {
    font-size: 36px;
    letter-spacing: 0.75px;
    margin: 0 0 64px 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .deals h2 {
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 0 0 30px 0;
  }
}
.deals .logos {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .deals .logos {
    grid-template-columns: 1fr 1fr;
  }
}
.deals .logos .logo {
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .deals .logos .logo {
    padding: 0 0 20px 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .deals .logos .logo img {
    width: 169px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .deals .logos .logo img {
    width: 126px;
  }
}
.deals .logos .logo a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #2c4fa0;
  text-decoration: underline;
  margin: 10px 0 0 0;
}

.online {
  background-color: #ededed;
  padding: 80px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .online {
    padding: 45px 0 77px 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .online {
    padding: 40px 0 31px 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .online .container {
    min-width: 100%;
  }
}
.online .container h2 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #1b2856;
  margin: 0 0 36px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .online .container h2 {
    width: 470px;
    font-size: 36px;
    letter-spacing: 0.75px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .online .container h2 {
    width: 250px;
    font-size: 24px;
    letter-spacing: 0.5px;
  }
}
.online .container .onboarding {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 320px 1fr;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .online .container .onboarding {
    grid-template-columns: 212px 1fr;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .online .container .onboarding {
    display: block;
  }
}
.online .container .onboarding .image {
  background: url("../assets/online/online.jpg");
  background-size: cover;
  background-position: center center;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .online .container .onboarding .image {
    height: 160px;
    background: url("../assets/online/online-mobile.jpg");
    background-size: cover;
    background-position: top center;
  }
}
.online .container .onboarding .content {
  color: #46576a;
  padding: 15px 36px 44px 36px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .online .container .onboarding .content {
    padding: 20px 10px 44px 10px;
  }
}
.online .container .onboarding .content h3 {
  font-size: 18px;
  font-weight: bold;
  line-height-step: 1.61;
  margin: 0 0 20px 0;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .online .container .onboarding .content h3 {
    width: 300px;
  }
}
.online .container .onboarding .content .bullet {
  display: grid;
  grid-template-columns: 15% 85%;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .online .container .onboarding .content .bullet {
    grid-template-columns: 20% 80%;
    padding: 0 40px 0 15px;
  }
}
.online .container .onboarding .content .bullet .icon {
  text-align: center;
  margin: 20px 0 0 0;
}
.online .container .onboarding .content .bullet .text {
  padding: 0 0 20px 20px;
}
.online .container .onboarding .content .bullet .text h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.61;
  margin: 0 0 4px 0;
}
.online .container .onboarding .content .bullet .text p {
  font-size: 14px;
  line-height: 1.29;
  margin: 0;
}

.contact {
  background: url("../assets/backgrounds/contact.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  padding: 67px 0 43px 0;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contact {
    background: url("../assets/backgrounds/contact-mobile.jpg");
    background-size: cover;
    background-position: top center;
    padding: 32px 0 49px 0;
  }
}
.contact .cols {
  display: grid;
  grid-template-columns: 65% 35%;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact .cols {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contact .cols {
    display: block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contact .cols .text {
    padding-bottom: 20px;
  }
}
.contact .cols .text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 41px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact .cols .text h2 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contact .cols .text h2 {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
}
.contact .cols .text ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact .cols .text ul li {
  margin-bottom: 15px;
  font-size: 24px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contact .cols .text ul li {
    font-size: 18px;
  }
}
.contact .cols .form {
  background-color: #ffffff;
  padding: 40px 26px 36px 26px;
  border-radius: 10px;
}
.contact .cols .form h3 {
  color: #000000;
  font-size: 18px;
  margin: 0 0 26px 0;
}
.contact .cols .form input[type=text], .contact .cols .form input[type=number], .contact .cols .form input[type=email], .contact .cols .form select {
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding: 0 7px;
  margin-bottom: 16px;
  border-radius: 5px;
  box-shadow: inset -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #979797;
  box-sizing: border-box;
}
.contact .cols .form input[type=text]:placeholder, .contact .cols .form input[type=number]:placeholder, .contact .cols .form input[type=email]:placeholder, .contact .cols .form select:placeholder {
  color: #728093;
}
.contact .cols .form input[type=submit] {
  display: block;
  width: 200px;
  height: 45px;
  background-color: #60beb3;
  color: #ffffff;
  font-size: 18px;
  margin: 20px auto 0 auto;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.65);
}

footer {
  background-color: #171b33;
  color: #ffffff;
  padding: 46px 0 54px 0;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  footer {
    padding: 45px 0;
  }
}
footer .cols {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: auto auto;
  margin-bottom: 59px;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  footer .cols {
    grid-template-columns: 70% 30%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  footer .cols {
    display: block;
  }
}
footer .cols .academic-offer {
  grid-area: 1/1/3/2;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  footer .cols .academic-offer {
    grid-area: 1/1/3/2;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  footer .cols .academic-offer {
    margin-bottom: 30px;
  }
}
footer .cols .about-ucad {
  grid-area: 1/2/3/3;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  footer .cols .about-ucad {
    grid-area: 1/2/2/3;
    margin-bottom: 45px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  footer .cols .about-ucad {
    margin-bottom: 30px;
  }
}
footer .cols .contact-us {
  grid-area: 1/3/3/4;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  footer .cols .contact-us {
    grid-area: 2/2/3/3;
  }
}
footer .cols h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
footer .cols ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .cols ul li {
  margin: 0 0 10px 0;
}
footer .cols ul li a {
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
}
footer .address {
  text-align: center;
}
footer .address p {
  font-size: 14px;
  line-height: 1;
}

.bottom-bar {
  background-color: #091024;
  padding: 18px 0;
  text-align: center;
}
.bottom-bar a {
  display: inline-block;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.65);
  font-size: 18px;
  padding-top: 12px;
  box-sizing: border-box;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .bottom-bar a {
    width: 130px;
  }
}
.bottom-bar .call-us {
  background-image: linear-gradient(to bottom, #3370ff, #5091f3 100%);
  color: #ffffff;
  margin-right: 45px;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .bottom-bar .call-us {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .bottom-bar .call-us {
    margin-right: 20px;
  }
}
.bottom-bar .whatsapp {
  background-image: linear-gradient(to bottom, #369942 0%, #6ac543);
  color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 940px;
  margin: auto;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 90%;
  }
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 900;
}

.icon {
  display: inline-block;
  margin-right: 19px;
}/*# sourceMappingURL=styles.css.map */